@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

:root {
    --white: #fffefa;
    --black: #000;
    --yellow: #a2eb06;
    --purple: #4700e8;
    --pixel-font: "Silkscreen", sans-serif;
    --orbitron-font: "Orbitron", sans-serif;
    --major-mono-font: "Major Mono Display", monospace;
    --stripe-size: 100px;
}

.loader {
    position: fixed;
      left: 50%;
      top: 50%;
    width: 45px;
    aspect-ratio: .75;
    --c: no-repeat linear-gradient(#ffffff 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    background-size: 20% 60%;
    animation: l9 1s infinite;
  }

  @keyframes l9 {
    33% {background-position: 0% 0%  ,50% 100%,100% 0%  }
    66% {background-position: 0% 100%,50% 0%  ,100% 100%}
  }

html,
body {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: var(--black);
    color: var(--white);
    font-family: var(--orbitron-font);
}

h1,
button {
    font-family: var(--orbitron-font);
    font-weight: bold;
}

.parent {
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-around;
    animation: opacidad 1s linear 1;
}

@keyframes opacidad {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

.content {
    transition: 2s;
    width: 90%;
    height: 75%;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../img/fondo.gif");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0px 3px 12px 4px rgba(163, 235, 6, 1);
    -moz-box-shadow: 0px 3px 12px 4px rgba(163, 235, 6, 1);
    box-shadow: 0px 3px 12px 4px rgba(163, 235, 6, 1);
}

.encripter {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    transition: 0.5s;
}

.encripter:hover {
    transition: 0.5s;
    backdrop-filter: brightness(10%);
    border-radius: 1rem;
}

.message {
    width: 4.5rem;
    height: 100%;
    border-radius: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: var(--background-noice);
    text-align: center;
    background-color: #f0f0d8;
    color: var(--black);
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

.message .logo {
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--white);
    background-color: var(--purple);
    margin-bottom: 1rem;
    font-family: var(--pixel-font);
}

.message p {
    font-size: 1.2rem;
}

.encripter_content_actions {
    width: 100%;
    height: 100%;
    display: flex;
}

.encripter_content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_input {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.text_input h1 {
    margin-top: 1rem;
    padding: 14px;
    background-color: var(--white);
    color: var(--black);
    font-size: large;
}

.title:hover {
    background-color: var(--purple);
}

.encripter textarea {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    border: none;
    box-shadow: none;
    background: none;
    font: inherit;
    resize: none;
    color: white;
    text-align: center;
}

textarea:focus {
    outline: none;
    box-shadow: none;
}

textarea::placeholder {
    color: var(--white);
}

.date_qrcode {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.date_qrcode p {
    margin-left: 1rem;
}

.date_fragile {
    display: flex;
    align-items: center;
    background-color: var(--black);
}

.date_fragile img {
    width: 2rem;
    height: 2rem;
}

.stripe {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-right: 0.5rem;
}

.stripe_inner {
    position: relative;
    width: 100%;
    height: 2rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-family: var(--pixel-font);
    color: var(--yellow);
    border-radius: 0.25rem 0 0 0.25rem;
    animation: stripeBackgroundPosition 1s linear infinite;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    will-change: background-position;
}

.stripe_standar {
    background: repeating-linear-gradient(45deg,
            var(--yellow) 25%,
            var(--yellow) 50%,
            var(--black) 50%,
            var(--black) 75%);
    background-size: var(--stripe-size) var(--stripe-size);
    transition: 1s;
}

.stripe_no_standar {
    background: repeating-linear-gradient(45deg,
            var(--purple) 25%,
            var(--purple) 50%,
            var(--black) 50%,
            var(--black) 75%);
    background-size: var(--stripe-size) var(--stripe-size);
    transition: 1s;
}

@keyframes stripeBackgroundPosition {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 97px 0;
    }
}

.stripe img {
    position: relative;
    right: 0;
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    z-index: 2;
}

.actions {
    width: 40%;
    height: 95%;
    margin: 0.5rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--white);
    border-radius: 1rem;
    backdrop-filter: blur(2px);
}

.project_id {
    width: 95%;
    height: auto;
    margin: 1rem;
    margin-left: 1rem;
    font-family: var(--orbitron-font);
}

.project_id h1,
.project_id p {
    background-color: var(--black);
    width: fit-content;
}

.project_id p {
    margin-top: 2px;
    font-size: .75rem;
    color: var(--white);
}

.code_icon {
    width: 100%;
    height: 100%;
}

.code_icon p {
    max-width: 100%;
    text-align: center;
    max-height: auto;
    word-wrap: break-word;
    white-space: normal;
    font-size: 8rem;
    font-family: var(--major-mono-font);
}

.code_icon svg {
    width: 14rem;
    height: 14rem;
    fill: var(--purple);
}

.buttons {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: end;
    text-align: start;
    margin-bottom: .5rem;
}

button {
    background: none;
    border: none;
    font-size: 1.12rem;
    margin: 0;
    background-color: var(--white);
    color: var(--purple);
}

button:hover {
    background-color: var(--black);
}

.btn_encriptar {
    animation: radiance 1s ease-in-out infinite alternate-reverse;
}

@keyframes radiance {
    from {
        color: var(--yellow);
    }
    to {
        color: var(--purple);
    }
}

.btn_encriptar:hover,
.btn_desencriptar:hover {
    color: var(--yellow);
    animation: none;
    transition: 0.5s;
}

button:hover {
    color: white;
}

.barras_hour {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.joseLMurillo_codebarras {
    width: 100%;
    height: 3rem;
    background-image: url(../img/JoseLMurillo_barras.png);
}

.hour {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 1rem 0;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 17px;
}


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@media (min-width: 600px) and (max-width: 770px) {
    .content {
        width: 95%;
    }

    .message {
        width: 3rem;
    }

    .encripter_content_actions {
        flex-direction: column;
        justify-content: space-between;
    }

    .encripter_content {
        flex-grow: 2;
    }

    .encripter textarea {
        font-size: 1.25rem;
    }

    .stripe {
        justify-content: end;
    }

    .stripe img {
        width: 8rem;
        height: 8rem;
    }

    .actions {
        width: auto;
        height: auto;
        flex-direction: row;
        flex-grow: 1;
        justify-content: space-around;
    }

    .project_id {
        width: 8rem;
        order: 0;
    }

    .code_icon {
        width: auto;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        order: 4;
    }

    .code_icon p {
        font-size: 6rem;
    }

    .buttons {
        align-items: center;
        justify-content: center;
    }

    button {
        height: 4rem;
        margin: 0.5rem;
    }

    .barras_hour {
        display: none;
    }
}

@media (max-width: 599px) {
    .content {
        width: 95%;
    }

    .message {
        width: 3rem;
    }

    .encripter_content_actions {
        flex-direction: column;
        justify-content: space-between;
    }

    .encripter_content {
        flex-grow: 2;
    }

    .encripter textarea {
        font-size: 1rem;
    }

    .stripe {
        justify-content: end;
    }

    .stripe img {
        width: 6rem;
        height: 6rem;
    }

    .actions {
        width:auto;
        height: auto;
        flex-grow: 1;
        flex-direction: row;
        justify-content: space-around;
    }

    .project_id {
        display: none;
    }

    .code_icon {
        width: auto;
        margin-right: 0.5rem;
        display: flex;
        align-items: center;
        order: 4;
    }

    .code_icon p {
        font-size: 4rem;
    }

    .buttons {
        width: auto;
        align-items: center;
        justify-content: center;
    }

    button {
        height: 4rem;
        margin: 0.5rem;
    }

    .barras_hour {
        display: none;
    }
}